name: Build & Publish LaTeX document

on: [push, pull_request]
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: thesis.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: Thesis
          path: thesis.pdf
          retention-days: 7

  publish_pdf:
    runs-on: ubuntu-latest
    needs: build_latex
    on:
      tag:
        types: [created]
    permissions:
      contents: write
    steps:
      - name: Download PDF Artifact
        uses: actions/download-artifact@v4
        with:
          name: Thesis
      - name: Publish PDF as Release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: thesis.pdf
